.ComposerBody-poll {
  margin-right: 15px;

  .PollLabel {
    font-size: 85%;
    font-weight: 600;
    display: inline-block;
    padding: 0.1em 0.5em;
    border-radius: @border-radius;
    background: @body-bg;
    color: @control-color;
    text-transform: none;
    border: 1px solid @primary-color;

    &.none {
      background: transparent;
      border: 1px dotted @muted-color;
      color: @muted-color;
    }
  }
}

.PollDiscussionModal {
  .Form-group {
    margin-top: 5px;

    &.hide {
      display: none;
    }
  }

  input.FormControl {
    &:invalid {
      background-color: var(--alert-error-bg);
      color: var(--alert-error-color);
    }
  }

  .PollModal--answers {
    margin-bottom: 20px;

    .Form-group {
      display: flex;
      margin-top: 2.5px;
      margin-bottom: 18px;
    }

    fieldset {
      flex-grow: 1;
    }
  }

  .PollModal--button {
    flex-shrink: 1;
    margin-left: 10px;
    text-align: right;

    .Button--color(@muted-color; darken(@control-bg, 5%));

    .icon {
      margin-right: 0;
      font-size: 12px;
    }

    &.small {
      padding: 2px 7px;
      float: right;
    }
  }

  .PollModal--date {
    display: flex;

    input {
      flex-grow: 1;
    }

    .Button {
      flex-shrink: 1;
      margin-left: 10px;
    }
  }

  .PollModal-SubmitButton {
    margin-top: 10px;
  }

  .PollModal-Button {
    margin-bottom: 15px;
  }

  .Checkbox.disabled {
    &, [disabled] {
      cursor: not-allowed;
    }

    opacity: 0.5;
  }
}

.Post-poll {
  .Post--hidden & {
    opacity: 0.5;
  }

  .PollOptions {
    display: grid;
    grid: auto-flow / repeat(auto-fit, minmax(~"min(250px, 100%)", 1fr));
    column-gap: 30px;
    row-gap: 15px;
    margin-left: 15px;
    align-items: start;
  }

  .Poll-sticky {
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    column-gap: 15px;
    z-index: 999;
    background-color: var(--body-bg);
    .box-shadow(inset 0px 2px 0px 0px fade(@text-color, 20%));

    &:empty {
      display: none;
    }

    .PollInfoText {
      flex-grow: 1;
      margin-bottom: 0;
    }
  }

  & + & {
    margin-top: 2em;
  }

  .PollHeading {
    display: flex;
    align-items: baseline;
    gap: 10px;

    &-title {
      flex-grow: 1;
    }

    &-voters {
      .Button--color-auto('button-primary');
    }

    .Button {
      flex-shrink: 1;
      padding: 6px 10px;

      .icon {
        margin-right: 0;
      }
    }
  }
}

.PollOption {
  & &-active {
    height: 100%;
    left: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    width: var(--width, 0);
    background-color: @muted-color;

    // Don't animate if the post is hidden
    &:not(.Post--hidden &) {
      animation: slideIn 1s ease-in-out;
      transition: width 0.75s ease-in-out;
    }

    .checkmark {
      background-color: #fabc67;
    }
  }

  /* Percent */
  .PollPercent {
    padding-right: 5px;
  }

  .PollLabel {
    font-size: 85%;
    font-weight: 600;
    display: inline-block;
    padding: .1em .5em;
    border-radius: 4px;
    background: #e8ecf3;
    color: #667c99;
    text-transform: none;
  }

  .PollAnswerImage {
    display: block; // Put image on its own line below label text
    max-width: 100%;
    margin-top: 10px;
  }

  .PollBar {
    background: transparent;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    border: 2px solid @muted-color;
    overflow: hidden;

    display: flex;
    column-gap: 10px;
    align-items: flex-start;

    &:hover {
      background: #f3f3f39e;
    }

    label {
      position: relative;
      z-index: 2;

      span {
        font-size: 11px;
        line-height: 19px;
        font-weight: 600;
      }
    }
    .PollAnswer {
      flex-grow: 1;
    }

    &[data-selected=true] {
      border-color: @secondary-color;

      .PollOption-active {
        background-color: @secondary-color;
      }

      label .PollAnswer {
        color: contrast(@secondary-color);
      }
    }
  }

  label.checkbox {
    margin-bottom: 0;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkmark:after {
        display: block;
      }

      &[disabled] ~ .checkmark {
        cursor: not-allowed;
      }
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid;
      border-radius: 4px;

      &:after {
        content: "";
        position: absolute;
        display: none;
        left: 6.75px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }


    }
  }
}

.VotesModal {
  &-list {
    display: grid;
    grid: auto-flow / repeat(auto-fill, minmax(150px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 20px;

    a {
      color: var(--text-color);
      font-size: 15px;
      font-weight: bold;
      display: block;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:hover .username {
        text-decoration: underline;
      }
    }
    .Avatar {
      .Avatar--size(32px);
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  h2 {
    margin-bottom: 15px;
  }

  h4 {
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.PublicPollButton {
  display: block;
  margin: 20px 15px;
}

.PollInfoText {
  span {
    display: block;
  }

  .icon {
    margin-right: 2.5px;
  }
}

@keyframes slideIn {
  from {
    width: 0
  }
  to {
    width: var(--width);
  }
}

.PollPercent--option {
  color: #868686;
}
